main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 60px); /
}


main form {
    width: 350px; 
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    border-radius: 5px; 
    background-color: #f9f9f9; 
}


main form input {
    width: 90%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 3px; 
    border: 1px solid #ccc; 
}

main div {
    width: 360px; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
.boton-enviar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #48484a; 
    color: #87CEEB; 
    font-size: 1em;
    text-decoration: none;
    border-radius: 10px; 
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  .boton-enviar:hover {
    background-color: #333; 
    color: #00BFFF; 
  }

body {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #48484A;
    font-size: 15px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #48484a;
    color: #fff;
    padding: 8px;
    padding-left: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15%;
  }
  
  a {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }
  
  .logo-img {
    max-width: 12em; 
    transition: transform 0.3s ease; 
  }
  
  .logo-img:hover {
    transform: scale(1.1); 
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30%;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #87CEEB;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
    margin-bottom: 350px;
  }

  
  h1 {
    color: #87CEEB;
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
    
  }
  
  footer {
    background-color: #48484a;
    color: #87CEEB;
    padding: 10px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    main form {
        width: 90%; 
        max-width: none; 
    }

    main div {
        width: 90%; 
        max-width: none; 
    }

    h1 {
        font-size: 4.5vw; 
    }
}
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav ul {
      justify-content: flex-start;
    }
  
    nav ul li {
      margin-right: 0;
    }

  }
  