@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #48484A;
  font-size: 15px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #48484a;
  color: #fff;
  padding: 8px;
  padding-left: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15%;
}

a {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.logo-img {
  max-width: 12em; 
  transition: transform 0.3s ease; 
}

.logo-img:hover {
  transform: scale(1.1); 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30%;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #87CEEB;
  font-weight: bold;
}

main {
  padding: 20px;
  margin-bottom: 350px;
}

.contenedor {
  margin-right: 17%;
  margin-left: 17%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

h1 {
  color: #87CEEB;
  font-family: 'Archivo Narrow', sans-serif;
  margin-top: 2em;
  margin-bottom: 55px;
  font-size: 4em;
  text-align: center;
  
}

.boton-ir-mapa {
  display: inline-block;
  padding: 10px 20px;
  background-color: #48484a; 
  color: #87CEEB; 
  margin-left: 40%;
  margin-right: 40%;
  font-size: 1.5em;
  text-decoration: none;
  border-radius: 10px; 
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease; 
}


.boton-ir-mapa:hover {
  background-color: #333; 
  color: #00BFFF; 
}

footer {
  background-color: #48484a;
  color: #87CEEB;
  padding: 10px;
  text-align: center;
}


.content-grid {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  margin: 0 auto; 
  width: 100%;
  margin-top: 20%;
}



.content-img {
  grid-row: 1;
  max-width: 100%; 
}



h2 {
  color: #87CEEB;
  font-family: 'Archivo Narrow', sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2.5em;
  
}

p {
  font-size: 18px;
  margin: 10px 0;
}



@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    justify-content: flex-start;
  }

  nav ul li {
    margin-right: 0;
  }

  .content-grid {
    grid-template-columns: 1fr;
  }

  .content-img {
    grid-column: auto; 
  }
  h1 {
    font-size: 6.5vw; 
  }
  .boton-ir-mapa {
    display: inline-block;
    padding: 10px -1px;
    background-color: #48484a;
    color: #87CEEB;
    margin-left: 35%;
    margin-right: 40%;
    font-size: 2.5vw;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
}
